<MENU>
    <MENUITEM>
        <IMAGE>images/pow_01.png</IMAGE>
        <TITLE>Whac a mole</TITLE>
        <DESCRIPTION>The Whac a mole game.</DESCRIPTION>
        <COMMAND>./hdm</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/pow_01.png</IMAGE>
        <TITLE>Whac a mole (Kinect)</TITLE>
        <DESCRIPTION>The Whac a mole game (kinect).</DESCRIPTION>
        <COMMAND>./hdm_kinect</COMMAND>
    </MENUITEM>        
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 1</TITLE>
        <DESCRIPTION>Mario Game 1 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game0.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/luigi.jpg</IMAGE>
        <TITLE>Luigi</TITLE>
        <DESCRIPTION>Luigi Game Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game1.txt</COMMAND>
    </MENUITEM>
    <MENUITEM>
        <IMAGE>images/mario.png</IMAGE>
        <TITLE>Mario 2</TITLE>
        <DESCRIPTION>Mario Game 2 Description</DESCRIPTION>
        <COMMAND>gedit /home/philip/game2.txt</COMMAND>
    </MENUITEM>
</MENU>
