{% include base.html %}
<footer class="footer">
    <div class="container">
        &copy; Copyright 2016 Florian Hägele und Philip Schill.
    </div>
</footer>

<!-- bootstrap js and ie10 viewport hack for surface/desktop windows 8 bug -->
<script src="{{base}}/js/jquery.min.js"></script>
<script src="{{base}}/js/bootstrap.min.js"></script>
<script src="{{base}}/js/ie10-viewport-bug-workaround.js"></script>

<!-- syntax highlighter -->
<script src="{{base}}/js/prism.js"></script>

<!-- lightbox -->
<script type="text/javascript" src="{{base}}/js/lightbox.min.js"></script>

<!-- latex support -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
