{% include base.html %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- bootstrap css and ie10 viewport hack for surface/desktop windows 8 bug -->
    <link rel="stylesheet" href="{{base}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{base}}/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{base}}/css/ie10-viewport-bug-workaround.css">

    <!-- syntax highlighter -->
    <link rel="stylesheet" href="{{base}}/css/prism.css">

    <!-- lightbox -->
    <link rel="stylesheet" href="{{base}}/css/lightbox.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="{{base}}/css/main.css">

    <!-- ie8 support of html5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{{base}}/js/html5shiv.min.js"></script>
        <script src="{{base}}/js/respond.min.js"></script>
    <![endif]-->
</head>